/*layout style*/
.container{
	width:100%;
	max-width:800px;
	margin:70px auto 10px auto;
	position: relative;
	font-family: 'Merriweather', serif;
}

h1,h2,h3 {
	font-family: 'Oswald', sans-serif;
}

/*Headerstyle*/
#headerstyle{
	background-color: white;
}

#headername{
	color : #36474D;
	font-size: 3.5em;
	margin-bottom: 0;
}

#headerposition{
	color: #36474D;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 20px;
}

#headerList{
	display:inline-block;
	max-width:800px;
	text-align: center;	
	padding-left: 0;

}

.headerListItem{
	width: 153px;
	font-size: 15px;
	text-align: center;
	color: white;
	list-style-type: none;
	display: inline-block;
	background-color: #36474D;
	padding-bottom: 10px;
	padding-top: 10px;
	border-right: 1px solid white;
	border-radius: 50px 50px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.headerListItem a{
	color:white;
	text-decoration: none;
}

/*About Me Style*/
#aboutMe{
	display:inline-block;
	max-width: 260px;

}

#aboutMeName{
	background-color: #36474D;
	text-align: center;
	color:white;
	font-size: 20px;
	border-radius: 50px 50px;
	padding:5px;
}

#aboutMeList{
	padding-left: 0;

}

#aboutMeList li{
	display: flex;
    width: inherit;
    justify-content: space-between;
    height:19px;
    font-size: 12px;
    color:#36474D;
}

.aboutMeListItem{
	list-style-type: none;
	font-size: 15px;
	width:300px;	
}


#socialMedia{
	padding-left: 0;
	text-align: center;
}

.socialMediaIcon{
	display:inline-block;
	list-style-type: none;
	
}

.socialMediaIcon img{
	width:45px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 27.61px;
}
/*Profile Style*/
#profile{
	max-width: 540px;
	height: 240.31px;
	float:right;
	border-top: 5px solid lightblue;
	border-bottom: 5px solid lightblue;
}

#profile img{
	display:inline-block;
	float:left;
	width:150px;
	height:150px;
	margin-top: 40px;
	padding-right: 5px;
	border-right: 5px solid lightblue;
}

#profile p {
	display:inline-block;
	float:right;
	max-width: 330px;
	margin-top: 40px;
	margin-left: 10px; 
}

/*Skill Style*/
#skill{
	display: block;
}

#skillName{
	display: block;
	max-width: 250px;
	background-color: #36474D;
	text-align: center;
	color:white;
	font-size: 20px;
	border-radius: 50px 50px;
	padding:5px;
}

#skillList{
	padding-left: 0;
	list-style-type: none;
		
}

.skillListItem{
	display:inline-block;
	margin:0px 32px;
}

.skillListItem p {
	text-align: center;
	margin-bottom: 0;
	margin-top: 130px;
	display: block;
	font-family: 'Oswald', sans-serif;
	color: #36474D;
}

.skillListItem div {
	margin-right: 0;
	margin-bottom: 0;

}

/*Experience Part*/

#experienceName{
	display: inline-block;
	color: white;
	font-size: 20px;
	width:150px;
	background-color: #235EC4;
	text-align: center;
	border-radius: 50px 50px;
	margin:0;

}

.blueline{
	background-color: #235EC4;
	width:450px;
	height:3px;
	display: inline-block;
	float: right;
	margin-top: 15px;
}

/*Education Part*/
#educationName{
	display: inline-block;
	color: white;
	font-size: 20px;
	width:150px;
	background-color: #235EC4;
	text-align: center;
	border-radius: 50px 50px;
	margin:0;
}

/*Common Style for experience and education*/
#experienceAndEducation{
	background-color: #36474D;
	padding:50px 50px; 
}

.commonstyle{
	color: white;
	margin-bottom: 50px;
}

.year{
	background-color: #235EC4;
	width:80px;
	height:20px;
	display: inline-block;
	float: right;
	margin-right: 250px;
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
	border-radius: 50px 50px;
}